- page_title _("Sign up")
- page_description _("Join GitLab today! You and your team can plan, build, and ship secure code all in one application. Get started here for free!")
- add_page_specific_style 'page_bundles/signup'
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"
= render "layouts/google_tag_manager_body"

.signup-page
  = render signup_box_template,
    url: registration_path(resource_name, registration_path_params),
    button_text: _('Register'),
    borderless: Feature.enabled?(:restyle_login_page, @project),
    show_omniauth_providers: omniauth_enabled? && button_based_providers_enabled?
  = render 'devise/shared/sign_in_link'
